/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  font-weight: 400;
  font-size: 18px;
  font-family: 'IBM Plex Mono', monospace;
  color: var(--main-text-color);
  transition-duration: 0.25s;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: max(768px, 100vh);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .header {
    block-size: max(1024px, 100vh);
  }
}

@media screen and (max-width: 767px) {

  .header {
    block-size: max(668px, 100vh);
  }
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-inline-end: 1px solid var(--corners-color);
  border-block-start: 1px solid var(--corners-color);
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: 20px;
  inset-inline-end: 20px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-inline-start: 1px solid var(--corners-color);
  border-block-end: 1px solid var(--corners-color);
  inset-block-end: 20px;
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: 20px;
}

@media screen and (max-width: 767px) {

  .decorated-zone::after {
    inset-block-start: 10px;
    inset-inline-end: 10px;
  }

  .decorated-zone::before {
    inset-inline-start: 10px;
  }
}

.header__rec {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 50px 0 0;
  text-transform: uppercase;
  color: var(--corners-color);
  inset-inline-end: 0;
}

@media screen and (max-width: 767px) {

  .header__rec {
    margin: 11px 38px;
  }
}

.decor {
  position: absolute;
  inset-inline-end: 0;
  margin: 28px 30px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
  min-height: 9px;
  min-width: 9px;
}

@media screen and (max-width: 767px) {

  .decor {
    margin: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .header__theme-menu {
    justify-self: end;
    margin-right: 20px;
    margin-top: 190px;
  }
}

@media screen and (max-width: 767px) {

  .header__theme-menu {
    justify-self: end;
    margin-right: 10px;
  }
}

.header__theme-menu-list {
  display: flex;
  gap: 13px;
  position: relative;
  justify-content: center;
}

@media screen and (max-width: 1023px) {

  .header__theme-menu-list {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {

  .header__theme-menu-list {
    margin-top: 75px;
    margin-right: 10px;
  }
}

.header__theme-menu-button {
  margin-top: 20px;
  font-weight: 400;
  color: var(--corners-color);
  line-height: 100%;
  padding: 2px 13px 4px;
  border: transparent;
  background: none;
  cursor: pointer;
  text-transform: lowercase;
  transition-duration: var(--transition-duration);
}

@media screen and (max-width: 1023px) {

  .header__theme-menu-button {
    margin-top: 0;
    line-height: 90%;
  }
}

.header__theme-menu-button:hover {
  border: var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--corners-color);
}

.header__theme-menu-button_active {
  border: 1px solid;
}

.title {
  color: var(--title-color);
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--title-shadow);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  align-self: start;
  line-height: 130%;
}

@media screen and (max-width: 767px) {

  .title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 96px;
    margin: 0 10px 7px;
  }
}

.header__text {
  justify-self: flex-end;
  align-self: center;
  color: var(--article-title-color);
  background-clip: content-box;
  background-color: var(--title-decor);
  font-weight: 700;
  inline-size: 50%;
  line-height: 130%;
  margin-inline-end: 20px;
  margin-block-end: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .header__text {
    max-inline-size: 364px;
    margin-top: 10px;
    margin-right: 22px;
  }
}

@media screen and (max-width: 767px) {

  .header__text {
    min-inline-size: 355px;
    margin-top: 35px;
    margin-left: 10px;
  }
}

.main {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .main {
    gap: 81px;
  }
}

@media screen and (max-width: 767px) {

  .main {
    padding: 30px 10px;
    gap: 50px;
  }
}

.about {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {

  .about {
    display: block;
  }
}

.list_item {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .list_item {
    gap: 20px;
  }
}

.reason {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {

  .section__article-list .article__list-item:not(:first-child) {
    padding-block-start: 21.5px;
  }
}

.section__article-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .section__article-list {
    flex-direction: column;
    flex: 2;
  }
}

@media screen and (max-width: 768px) {

  .section__article-list {
    display: block;
  }
}

.improvement {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media screen and (max-width: 767px) {

  .improvement {
    display: block;
  }
}

.picture {
  display: grid;
  gap: 20px;
}

@media screen and (max-width: 767px) {

  .picture {
    gap: 10px;
  }
}

.card {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: repeat(3, max-content);
  gap: 20px;
  grid-auto-flow: dense;
}

@media screen and (max-width: 767px) {

  .card {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

@media screen and (max-width: 767px) {

  .image {
    block-size: auto;
  }
}

.img__sunset {
  grid-column: 1/3;
  grid-row: 1/2;
}

.img__ice-cream {
  grid-row: 1/3;
}

.img__tape {
  grid-row: 2/4;
}

.img__books {
  grid-column: 2/3;
  grid-row: 2;
}

.img__street {
  grid-column: 2/4;
  grid-row: 3;
}

.article__list-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 18px;
  max-width: 100%;
  flex: 1;
}

.article__title-item {
  color: var(--corners-color);
  font-weight: 700;
  font-size: 18px;
  padding-block-end: 20px;
  max-width: 315px;
  flex: 1;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .article__title-item {
    max-width: 236px;
  }
}

@media screen and (max-width: 767px) {

  .article__title-item {
    max-width: 100%;
  }
}

.article__title {
  color: var(--article-title-color);
  background-clip: content-box;
  background-color: var(--title-decor);
  font-size: 18px;
  padding-block-start: 10px;
}

.article__title:first-child {
  padding-block-start: 0;
}

.article__subtitle {
  color: var(--article-title-color);
  background-clip: content-box;
  background-color: var(--title-decor);
}

.article__text {
  font-weight: 400;
  line-height: 23.4px;
}

.section__article-text-link {
  border: transparent;
  text-shadow: 3px 3px 0 var(--link-shadow);
  transition-duration: var(--transition-duration);
  text-decoration: none;
}

.section__article-text-link:hover {
  border-block-end: 1px solid var(--main-text-color);
}

.section__article-text-link:focus {
  outline: none;
}

.section__article-text-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.footer {
  display: grid;
  position: relative;
  block-size: max(768px, 100vh);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .footer {
    block-size: max(1024px, 100vh);
  }
}

@media screen and (max-width: 767px) {

  .footer {
    block-size: max(668px, 100vh);
    margin-top: 10px;
  }
}

.footer__title {
  justify-self: center;
  align-self: center;
}
